{% block custom_list %}
    <form action="{{ cl.opts|cut:'catalog.' }}_clean/" method="POST" enctype="multipart/form-data" class="submit-row list-group">
        <label class="list-group-item active">Полная очистка ({{ cl.opts.verbose_name }})</label>
        {% csrf_token %}
        <input type="text" name="password" placeholder="код подтверждения">
        <button type="submit" value="" name="_{{ cl.opts|cut:'catalog.' }}_clean" class="list-group-item">Очистить</button>
    </form>
    <form action="{{ cl.opts|cut:'catalog.' }}_update/" method="POST" enctype="multipart/form-data" class="submit-row list-group">
        <label class="list-group-item active">Обновление ({{ cl.opts.verbose_name }})</label>
        {% csrf_token %}
        <input type="file" placeholder="Файл" name="file" class="list-group-item">
        <button type="submit" value="" name="_{{ cl.opts|cut:'catalog.' }}_update" class="list-group-item">Обновить</button>
    </form>
{% endblock %}
